<%= render_page_title "#{@website.name}#{t('model.list', model: Spot.model_name.human)}" do |toolbar|
  toolbar << {
    name: render_icon_and_text_content('icon-plus-sign', t('model.create', :model => Spot.model_name.human)),
    url: new_website_spot_path(@website),
    options: {class: 'button button-primary'}
  }

  toolbar << {
    name: render_icon_and_text_content('icon-signin', t('model.import', model: Spot.model_name.human)),
    url: website_data_file_upload_path(@website, 'spot'),
    options: {class: 'button button-success'}
  }
end %>

<article>
  <div class="padding">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to render_icon_and_text_content('icon-trello', Spot.model_name.human), website_data_path(@website, :spot) %></li>
      <li><%= link_to render_icon_and_text_content('icon-sitemap', Channel.model_name.human), website_data_path(@website, :channel) %></li>
    </ul>
  </div>
</article>

<article>
  <div class="padding">
    <div class="grid">
      <div class="grid-row">
        <div class="cell6"></div>
        <div class="cell6">
          <%= form_tag website_data_search_path(@website, 'spot'), method: :post, remote: true, class: 'navbar-search pull-right spots-search-form' do %>
            <%= text_field_tag :keywords, nil, placeholder: '输入关键字', class: 'search-query' %>
            <%= button_tag '搜索', class: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</article>

<div class="spots-grid-block">
  <%= render partial: 'spots/spots_grid' %>
</div>

<% content_for :js do %>
<script language='javascript'>
  $(document).ready(function(){
    $('form.spots-search-form').on('ajax:beforeSend', function(xhr, settings) {
      $('.spots-grid-block').html();
      $('#search-modal-window').modal({
        backdrop: 'static',
        keyboard: false
      });
    });

    $('form.spots-search-form').on('ajax:complete', function(xhr, status) {
      $('#search-modal-window').modal('hide');
    });
  });
</script>
<% end %>

<% content_for :anything_else do %>
<div class="modal hide fade" id="search-modal-window">
  <div class="modal-header">
    <h4>正在搜索...</h4>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%;" id="modal-progress-bar"><span id="model-progress-value">请等待...</span></div>
    </div>
  </div>
</div>
<% end %>
