<%= render_page_title "#{t('model.import', model: @data_type.capitalize.constantize.model_name.human)} <small>#{t('simple_form.required.text') }</small>" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{t('model.list', :model => Channel.model_name.human)}",
    url: website_data_path(@website, 'spot'),
    class: 'button'
  }
  end %>

<%= simple_form_for(@upload_file, url: website_data_file_upload_path(@website, 'spot'), method: :post, remote: true, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :data_file, as: :file, label: '上传文件' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, '确定', class: 'button button-primary' %>
  </div>
<% end %>
