<table class="table table-bordered table-striped">
  <tr>
    <th><%= t("activerecord.attributes.master_plan_item.spot_name") %></th>
    <th><%= t("activerecord.attributes.master_plan_item.channel_name") %></th>
    <th><%= t("activerecord.attributes.master_plan_item.count") %></th>
    <th><%= t("activerecord.attributes.master_plan_item.is_on_house") %></th>
    <th></th>
  </tr>
  <% @pool.get_pool_keys.each do |medium_id| %>
  <tr>
    <td>
      <strong>
        <%= @pool.get_options(medium_id)[:medium_name] %></strong> <%= @pool.get_options(medium_id)[:is_combo] ? content_tag(:span, '打包价', class: 'label label-warning') : '' %>
      <% unless @pool.get_options(medium_id)[:is_combo] %>
      <%= link_to(fa_icon('gift', text: '打包'),
        go_combo_path(id: @master_plan, medium_id: medium_id, is_combo: true),
        class: 'btn btn-warning', method: :post, remote: true) %>
      <% else %>
      <%= link_to(fa_icon('folder-open', text: '不打包'),
        go_combo_path(id: @master_plan, medium_id: medium_id, is_combo: false),
        class: 'btn btn-inverse', method: :post, remote: true) if @pool.get_options(medium_id)[:is_combo] %>
      <% end %>
    </td>
    <td></td>
    <td>

    </td>
    <td>

    </td>
    <td class="btn-cell">
      <%= link_to(fa_icon('trash'), remove_medium_from_cart_path(id: @master_plan, medium_id: medium_id), method: :post, confirm: t('confirms.delete'), class: 'btn btn-danger', remote: true) %>
    </td>
  </tr>
  <% @pool.get_items(medium_id).map do |key, item| %>
  <tr>
    <td>
      <%= item[:spot_name] %>
    </td>
    <td>
      <%= item[:channel_name] %>
    </td>
    <td>
      <%= link_to(
        item[:count],
        '?',
        class: 'editable-field',
        'data-type' => 'text',
        'data-pk' => item[:spot_id],
        'data-name' => "count",
        'data-url' => modify_cart_path(@master_plan),
        'data-original-title' => t('activerecord.attributes.master_plan_item.count'),
        'data-skip-pjax' => true,
        'data-params' => "{medium_id: #{item[:medium_id]}, spot_id: #{item[:spot_id]}, count: #{item[:count]}, is_on_house: #{item[:is_on_house]}}"
      ) %>
    </td>
    <td>
      <%= link_to(
        item[:is_on_house].to_s == 'true' ? '配送' : '购买',
        '?',
        class: 'editable-field',
        'data-type' => 'select',
        'data-pk' => item[:spot_id],
        'data-name' => "is_on_house",
        'data-url' => modify_cart_path(@master_plan),
        'data-original-title' => t('activerecord.attributes.master_plan_item.is_on_house'),
        'data-skip-pjax' => true,
        'data-params' => "{medium_id: #{item[:medium_id]}, spot_id: #{item[:spot_id]}, count: #{item[:count]}, is_on_house: #{item[:is_on_house]}}",
        'data-source' => "[{value: 'false', text:'购买'}, {value: 'true', text: '配送'}]"
      ) %>
    </td>
    <td class="btn-cell">
      <%= link_to(fa_icon('trash'), remove_from_cart_path(id: @master_plan, key: key, medium_id: item[:medium_id]), method: :post, confirm: t('confirms.delete'), class: 'btn btn-danger', remote: true) %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
