<table id="spot-plan-table" class="table table-bordered table-striped">
  <tr>
    <th>网站</th>
    <th>频道</th>
    <th>位置</th>
    <th>数量</th>
    <th>已选</th>
    <th colspan="31"></th>
  </tr>

  <tr class="spot-plan-calendar-days-row">
    <td colspan="5"></td>
    <% 1.upto(31) do |n| %>
    <% if n > Time.days_in_month(@selected_month, @selected_year) %>
    <td class="disabled">&nbsp;</td>
    <% else %>
    <% if @selected_days.length >= n && @selected_days[n - 1] && @selected_days[n - 1] > 0 %>
    <%= content_tag :td, t("weekdays.#{Time.new(@selected_year, @selected_month, n).strftime('%a').downcase}"), class: Time.new(@selected_year, @selected_month, n).strftime('%a').downcase %>
    <% else %>
    <%= content_tag :td, t("weekdays.#{Time.new(@selected_year, @selected_month, n).strftime('%a').downcase}"), class: 'disabled' %>
    <% end %>
    <% end %>
    <% end %>
  </tr>

  <tr class="spot-plan-calendar-month-row">
    <td colspan="5"><%= @selected_year %>年 <%= @selected_month %>月</td>
    <% 1.upto(31) do |n| %>
    <% if n > Time.days_in_month(@selected_month, @selected_year) %>
    <td>&nbsp;</td>
    <% else %>
    <% if @selected_days.length >= n && @selected_days[n - 1] && @selected_days[n - 1] > 0 %>
    <%= content_tag :td, n, class: Time.new(@selected_year, @selected_month, n).strftime('%a').downcase %>
    <% else %>
    <%= content_tag :td, n, class: 'disabled' %>
    <% end %>
    <% end %>
    <% end %>
  </tr>

  <% @master_plan_items.each do |master_plan_item| %>
  <tr class="master-plan-item-row" id="master-plan-item<%= master_plan_item.id %>">
    <td class="medium_name"><%= master_plan_item.medium_name %></td>
    <td class="channel_name"><%= master_plan_item.channel_name %></td>
    <td class="spot_name">
      <%= content_tag(:span, master_plan_item.spot_name, class: master_plan_item.is_on_house? ? 'is_on_house' : '') %>
    </td>
    <td class="ideal_count"><%= master_plan_item.count %></td>
    <td class="reality_count"><%= content_tag(:span, master_plan_item.reality_count, class: 'reality_count') %></td>
    <% 1.upto(31) do |n| %>
    <% if @selected_days.length >= n && @selected_days[n - 1] && @selected_days[n - 1] > 0 %>
    <%= content_tag :td, content_tag(:span, '', class: "empty-spot-plan-item", 'data-placed-at' => "#{@selected_year}-#{sprintf('%02d', @selected_month)}-#{sprintf '%02d', n}"), class: "spot-plan-item-cell spot-plan-item-cell#{@selected_year}#{sprintf('%02d', @selected_month)}#{sprintf '%02d', n} #{Time.new(@selected_year, @selected_month, n).strftime('%a').downcase}" %>
    <% else %>
    <td class="disabled"></td>
    <% end %>
    <% end %>
  </tr>
  <% end %>

</table>
