<%= render_page_title "<strong>#{@master_plan.client.name}</strong> #{@master_plan.project.name}: 挑选点位" do |toolbar|
  toolbar << {
    name: icon_text('icon-chevron-right', 'Master Plan'),
    url: client_project_master_plan_path(@master_plan),
    options: {class: 'button button-primary'}
  }

  toolbar << {
    name: "#{t('labels.back_to')}#{@master_plan.project.name}#{t('model.show', :model => Project.model_name.human)}",
    url: project_path(@master_plan.project_id),
    options: {class: 'button'}
  }
end %>

<div class="padding">
  <div class="panel">
    Master Plan: <%= @master_plan.name %>
  </div>
</div>

<%= render partial: 'shared/spot_picker/spot_picker', locals: {media: @media, spot_picker: @spot_picker} %>

<% if @spot_picker.selected_medium %>

<%= simple_form_for(:selected_spots, url: add_to_cart_path(@master_plan), html: {class: 'no-padding no-border form-horizontal', id: 'candidates-list-form'}, method: :post, remote: true) do |f| %>

<%= render partial: 'shared/spot_picker/spot_candidates_grid', locals: {spots: @spots_grid} if @spots_grid %>

<article style="width:100%;">
  <div class="padding">
    <div class="grid">
      <div class="grid-row">
        <div class="cell6">
        </div>
        <div class="cell6">
          <%= f.submit "添加", class: 'button button-success pull-right', wrapper: false %>
        </div>
      </div>
    </div>
  </div>
</article>

<% end %>
<% end %>

<%= render_article_title "已选点位" do |toolbar|
  toolbar << {
    name: icon_text('icon-trash', '清空已选点位'),
    url: clear_cart_path(@master_plan),
    options: {
      method: :post,
      remote: true,
      class: 'button button-inverse'
    }
  }
 end %>

<div class='cart-panel' style="padding: 15px; padding-top: 10px; padding-bottom: 10px; margin: 0px;">
<%= render partial: 'cart' %>
</div>

<div class="grid">
  <div class="grid-row">
    <div class="cell6"></div>
    <div class="cell6" style="padding-right:15px; padding-bottom: 15px;">
      <%= link_to icon_text('icon-save', '保存点位到Master Plan'), save_candidates_to_master_plan_path(@master_plan), class: 'button button-success pull-right', method: :post %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.editable-field').editable();
});
</script>
