<%= render_page_title "<strong>#{@master_plan.client.name}</strong> #{@master_plan.project.name}: #{@master_plan.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{@master_plan.project.name}#{t('model.show', :model => Project.model_name.human)}",
    url: project_path(@master_plan.project_id),
    options: {class: 'button'}
  }
end %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to render_icon_and_text_content('icon-check-sign', '挑选点位'), choose_spots_path(@master_plan) %>
  </li>
  <li>
    <%= link_to render_icon_and_text_content('icon-shopping-cart', "查看已选点位 <span class=\"badge\">#{@master_plan.items.count}</span>".html_safe), client_project_master_plan_path(@master_plan) %>
  </li>
</ul>

<%= render partial: 'shared/spot_picker/spot_picker', locals: {media: @media, spot_picker: @spot_picker} %>

<% if @spot_picker.selected_medium %>

<%= simple_form_for(:selected_spots, url: add_to_cart_path(@master_plan), html: {class: 'no-padding no-border form-horizontal', id: 'candidates-list-form'}) do |f| %>

<%= render partial: 'shared/spot_picker/spot_candidates_grid', locals: {spots: @spots_grid} if @spots_grid %>

<article style="width:100%;">
  <div class="padding">
    <div class="grid">
      <div class="grid-row">
        <div class="cell6">
        </div>
        <div class="cell6">
          <%= f.submit '添加', class: 'button button-success pull-right', wrapper: false %>
        </div>
      </div>
    </div>
  </div>
</article>

<% end %>
<% end %>

<% @cart.shopping_cart_items.each do |item| %>
<%= item.item[:spot].name %>
<% end %>
