<%= render_cell(:page_title, :show,
  data:
  {
    name: "<strong>#{@master_plan.client.name}</strong> #{@master_plan.project.name}: 挑选点位",
    toolbar:
    {
      left:
      [
        render_cell(:button, :show,
          data:
          {
            name: fa_icon('level-up rotate-270'),
            url: client_project_master_plan_path(@master_plan),
            options:
            {
              class: 'btn',
              rel: 'tooltip',
              title: '回到 Master Plan'
            }
          }
        )
      ],
      right:
      [

      ]
    }
  }
)
%>

<div class="well">
  Master Plan: <%= @master_plan.name %>
</div>

<%= render partial: 'shared/spot_picker/spot_picker', locals: {media: @media, spot_picker: @spot_picker} %>

<% if @spot_picker.selected_medium %>

<%= simple_form_for(:selected_spots, url: add_to_cart_path(@master_plan), html: {class: 'no-padding no-border form-horizontal', id: 'candidates-list-form'}, method: :post, remote: true) do |f| %>

<%= render partial: 'shared/spot_picker/spot_candidates_grid', locals: {spots: @spots_grid} if @spots_grid %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6"></div>
    <div class="span6"><%= f.submit "添加", class: 'btn btn-success pull-right', wrapper: false %></div>
  </div>
</div>


<% end %>
<% end %>

<hr />

<%= render_cell(:section_title, :show,
  data:
  {
    name: '已选媒体刊例',
    toolbar:
    {
      right:
      [
        render_cell(:button, :show,
          data:
          {
            name: fa_icon('trash', text:'清空已选点位'),
            url: clear_cart_path(@master_plan),
            options:
            {
              method: :post,
              remote: true,
              class: 'btn btn-inverse clear-candidate-button',
              style: @pool.count > 0 ? '': 'display:none;'
            }
          }
        ),
        render_cell(:button, :show,
          data:
          {
            name: fa_icon('save', text: '保存点位到Master Plan'),
            url: save_candidates_to_master_plan_path(@master_plan),
            options:
            {
              class: 'btn btn-success pull-right save-candidate-button',
              method: :post,
              style: @pool.count > 0 ? '': 'display:none;'
            }
          }
        )
      ]
    }
  }
)
%>

<div class='cart-panel'>
<%= render partial: 'cart' %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.editable-field').editable();
});
</script>
