<div data-pjax-container>

<%= render_page_title "<strong>#{@master_plan.client.name}</strong> #{@master_plan.project.name}: #{@master_plan.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{@master_plan.project.name}#{t('model.show', :model => Project.model_name.human)}",
    url: project_path(@master_plan.project_id),
    options: {class: 'button'}
  }
end %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to render_icon_and_text_content('icon-check-sign', '挑选点位'), choose_spots_path(@master_plan) %>
  </li>
  <li>
    <%= link_to render_icon_and_text_content('icon-shopping-cart', "查看已选点位 <span class=\"badge\">#{@master_plan.items.count}</span>".html_safe), master_plan_path(@master_plan) %>
  </li>
</ul>

<article>
  <div class="padding">
    <div class="well">
      <%= render partial: 'spots/filter/spots_filter', locals: {media: @media, spots_filter: @spots_filter} %>
    </div>
  </div>
</article>

<%= simple_form_for(:choose_spots, url: url_for(controller: params[:controller], action: :candidates, id: @master_plan), html: {class: 'no-padding no-border form-horizontal', id: 'candidates-list-form'}) do |f| %>

<% if @spots_grid %>
<article>
  <div class="padding">
    <div class="grid">
      <div class="grid-row">
        <div class="cell6">
        </div>
        <div class="cell6">
          <%= f.submit '添加', class: 'button button-warning pull-right', wrapper: false %>
        </div>
      </div>
    </div>
  </div>
</article>

<% end %>

<%= render partial: 'candidates_grid', locals: {spots: @spots_grid} if @spots_grid %>

<% if @spots_grid %>
<article>
  <div class="padding">
    <div class="grid">
      <div class="grid-row">
        <div class="cell6">
        </div>
        <div class="cell6">
          <%= f.submit '添加', class: 'button button-warning pull-right', wrapper: false %>
        </div>
      </div>
    </div>
  </div>
</article>

<% end %>

<% end %>

</div>
