<div data-pjax-container>

<%= render_page_title "<strong>#{@master_plan.project.client.name}</strong> #{@master_plan.project.name}: #{@master_plan.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{@master_plan.project.name}#{t('model.show', :model => Project.model_name.human)}",
    url: project_path(@master_plan.project_id),
    options: {class: 'button'}
  }
end %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to '挑选点位', choose_spots_path(@master_plan) %>
  </li>
  <li class="active">
    <%= link_to render_icon_and_text_content('icon-shopping-cart', "查看已选点位 <span class=\"badge badge-success\">#{@master_plan.items.count}</span>".html_safe), master_plan_path(@master_plan) %>
  </li>
</ul>

<% if @candidate_websites %>

<article>
  <div class="padding">

    <div class="well">
      <div class="grid">
        <div class="grid-row">
          <div class="cell3">总合同额（元）：<h4><%= number_to_currency(@master_plan.contract_price, unit: '', precision: 0) %></h4></div>
          <div class="cell3">预估利润（元）：<h4><%= number_to_currency(@master_plan.profit, unit: '', precision: 0) %></h4></div>
          <div class="cell3"></div>
          <div class="cell3">配送比率：<h4><%= @master_plan.on_house_rate(@selected_website_id) %> / <%= @master_plan.project.client.on_house_rate(@selected_website_id) %></h4></div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <% @candidate_websites.each do |website| %>
      <% if website.id == @selected_website_id.to_i %>
      <li class="active">
      <% else %>
      <li>
      <% end %>
        <%= link_to website.name, master_plan_path(website_id: website.id) %>
      </li>
      <% end %>
    </ul>
  </div>
</article>

<%= render partial: 'master_plan_items/master_plan_items_grid', locals: {master_plan_items: @master_plan_items_grid} %>

<% end %>

</div>
