<%= render_cell(:page_title, :show,
  data:
  {
    name: "#{fa_icon('star', text:' ') if @master_plan.is_current_master_plan?} #{@master_plan.project.name} #{fa_icon('cloud-upload') if @master_plan.project.is_a?(HistoryProject)}",
    toolbar:
    {
      right:
      [
        (render_cell(:button, :show,
          data:
          {
            name: @master_plan.name,
            options: { class: 'btn'},
            type: 'dropdown',
            items:
            [
              @master_plan.project.master_plans.inject([]){|list, item| list << {name: fa_icon(item.id == @master_plan.id ? 'star' : 'unchecked', text: item.name), url: client_project_master_plan_path(id:item)}},
              {divider: true},
              {name: fa_icon('star', text: '设为默认Master Plan'), url: set_current_master_plan_path(id: @master_plan.project_id, master_plan_id: @master_plan.id), options: {method: :post}},
              {name: fa_icon('copy', text: '克隆当前Master Plan'), url: clone_master_plan_path(@master_plan), options: {method: :post}},
              {name: fa_icon('plus-sign', text: '新建Master Plan'), url: master_plans_path({master_plan: {project_id: @master_plan.project_id, client_id: @master_plan.client_id}}), options: {method: :post}},
              {name: fa_icon('trash', text: '删除Master Plan'), url: master_plan_path(@master_plan), options: {method: :delete, confirm: t('confirms.delete')}}
            ].flatten
          }
        ) unless @master_plan.project.is_a?(HistoryProject)),

        (render_cell(:button, :show,
          data:
          {
            name: fa_icon('compass', text: '挑选点位'),
            url: choose_spots_path(@choose_spots_path_params),
            options: { class: 'btn btn-warning' }
          }
        ) if !@master_plan.project.is_a?(HistoryProject) && can?(:manage, @master_plan)),

        (render_cell(:button, :show,
          data:
          {
            name: fa_icon('calendar', text: 'Spot Plan'),
            url: spot_plan_path(medium_id: @selected_medium_master_plan.medium_id),
            options: { class: 'btn btn-primary' }
          }
        ) if @master_plan.medium_master_plans.count > 0),

        render_cell(:button, :show,
          data:
          {
            name: fa_icon('download-alt', text: "下载排期表文件"),
            url: generate_spot_plan_path(id: @master_plan, version: @spot_plan_version),
            options:
            {
              class: 'btn btn-info',
              method: :post
            }
          }
        )
      ]
    }
  }
)
%>

<% if @master_plan.medium_master_plans.count > 0 %>
<%= render partial: 'master_plan_summary' %>
<%= render partial: 'medium_master_plan_navs', locals: {is_history: @master_plan.project.is_a?(HistoryProject)} %>
<%= render partial: 'medium_master_plan_summary', locals: {is_history: @master_plan.project.is_a?(HistoryProject)} %>
<%= render partial: 'medium_master_plan_items_grid', locals: {is_history: @master_plan.project.is_a?(HistoryProject)} %>
<% end %>

</div>

<% content_for :js do %>
<% javascript_include_tag "master_plan_summary", "medium_master_plan_summary", "medium_master_plan_items_grid" if !@master_plan.project.is_a?(HistoryProject) %>
<% end %>
