<div>

<%= render_page_title "<strong>#{@master_plan.project.client.name}</strong> #{@master_plan.project.name}: #{@master_plan.name}" do |toolbar|
  toolbar << {
    name: render_icon_and_text_content('icon-calendar', 'Spot Plan'),
    url: spot_plan_path(medium_id: @selected_medium_id),
    options: {
      class: 'button button-primary',
      'data-skip-pjax' => true,
      style: 'margin: 10px 0px;'}
  }
  toolbar << {
    name: "#{t('labels.back_to')}#{@master_plan.project.name}#{t('model.show', :model => Project.model_name.human)}",
    url: project_path(@master_plan.project_id),
    options: {class: 'button'}
  }
end %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to '挑选点位', choose_spots_path(@master_plan) %>
  </li>
  <li class="active">
    <%= link_to render_icon_and_text_content('icon-shopping-cart', "查看已选点位 <span class=\"badge badge-success\">#{@master_plan.items.count}</span>".html_safe), master_plan_path(@master_plan) %>
  </li>
</ul>

<% if @candidate_media && @candidate_media.length > 0 %>

<article>
  <div class="padding">

    <%= render partial: 'master_plan_summary' %>

    <ul class="nav nav-tabs">
      <% @candidate_media.each do |medium| %>
      <% if medium.id == @selected_medium_id.to_i %>
      <li class="active">
      <% else %>
      <li>
      <% end %>
        <%= link_to medium.name, master_plan_path(medium_id: medium.id) %>
      </li>
      <% end %>
    </ul>

    <%= render partial: 'master_plan_medium_summary' %>

  </div>
</article>

<%= render partial: 'master_plan_items_grid', locals: {master_plan_items: @master_plan_items_grid, selected_medium_id: @selected_medium_id} %>

<% end %>

</div>

<% content_for :js do %>
<% javascript_include_tag "master_plan" %>
<% end %>
