<div>

<%= render_page_title "<strong>#{@master_plan.project.client.name}</strong> #{@master_plan.project.name}: #{@master_plan.name}" do |toolbar|
  toolbar << {
    name: render_icon_and_text_content('icon-chevron-left', 'Master Plan'),
    url: client_project_master_plan_path(@master_plan),
    options: {class: 'button button-primary'}
  }

  toolbar << {
    name: '保存排期表',
    url: save_spot_plan_path(master_plan_id: @master_plan),
    options: {
      method: :post,
      class: 'button button-success'
    }
  } if @master_plan.is_dirty

  toolbar << {
    name: '生成文件',
    url: generate_spot_plan_path(master_plan_id: @master_plan),
    options: {
      method: :post,
      class: 'button button-inverse'
    }
  }

end %>

<% if @candidate_media %>

<article>
  <div class="padding">

    <ul class="nav nav-tabs">
      <% @candidate_media.each do |medium| %>
      <% if medium.id == @selected_medium_id.to_i %>
      <li class="active">
      <% else %>
      <li>
      <% end %>
        <%= link_to medium.name, spot_plan_path(medium_id: medium.id, master_plan_id: @master_plan, m: @selected_month, y: @selected_year, wv: @working_version) %>
      </li>
      <% end %>
    </ul>

    <div class="well master-plan-summary">
      <%= render partial: 'master_plan_summary' %>
    </div>

    <div class="grid">
      <div class="grid-row">
        <div class="cell6">
        </div>
        <div class="cell6">
          <div class="btn-group pull-right" data-toggle="buttons-radio">
            <% @months.each do |m| %>
            <%= link_to "#{m[:year]}年#{m[:month]}月", spot_plan_path(medium_id: @selected_medium_id, master_plan_id: @master_plan.id, y: m[:year], m: m[:month], wv: @working_version), class: (@selected_year == m[:year] && @selected_month == m[:month]) ? 'button active' : 'button' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'spot_plan_items_grid', locals: {spot_plan: @master_plan, selected_medium_id: @selected_medium_id} %>
  </div>

</article>

<div id="context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#" class="modify_count" data-skip-pjax="true">调整数量</a></li>
  </ul>
</div>

<% end %>

</div>

<% content_for :js do %>
<% javascript_include_tag "spot_plan" %>
<% end %>
