<%= render_page_title "<strong>#{@master_plan.project.client.name}</strong> #{@master_plan.project.name}: #{@master_plan.name}" do |toolbar|
  toolbar << {
    name: icon_text('icon-chevron-left', 'Master Plan'),
    url: client_project_master_plan_path(id: @master_plan, medium_id: @selected_medium_master_plan.medium_id),
    options: {class: 'button button-primary'}
  }

end %>

<%= render partial: 'master_plan_summary' %>

<%= render partial: 'medium_master_plan_spot_plan_navs' %>

<%= render partial: 'medium_master_plan_summary' %>

<div class="padding">
  <div class="grid">
    <div class="grid-row">
      <div class="cell6">
        <div class="button-group">
          <a class="button dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-calendar"></i> <%= "#{@selected_year}年#{@selected_month}月" %> <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <% @months.each do |m| %>
            <li>
              <%= link_to "#{m[:year]}年#{m[:month]}月", spot_plan_path(medium_id: @selected_medium_master_plan.medium_id, y: m[:year], m: m[:month], version: @spot_plan_version) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="cell6">
        <div class="button-group pull-right">
          <div class="button-group">
          <a class="button dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-bookmark"></i> <%= @spot_plan_version.to_i > 0 ? "版本#{@spot_plan_version}" : "初始版本" %> <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <% @master_plan.spot_plan_version.downto(0) do |n| %>
            <li>
              <%= link_to n > 0 ? "版本#{n}" : "初始版本", spot_plan_path(medium_id: @selected_medium_master_plan.medium_id, y: @selected_year, m: @selected_month, version: n) %>
            </li>
            <% end %>
          </ul>
        </div>
          <%= link_to icon_text('icon-thumbs-up', '确认排期表'), confirm_spot_plan_path(@master_plan), method: :post, class: 'button button-success' if @master_plan.is_dirty? %>
          <%= link_to icon_text('icon-download-alt', '下载排期表文件'), generate_spot_plan_path(id: @master_plan, version: @spot_plan_version), method: :post, class: 'button button-inverse' %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'spot_plan_items_grid' %>
</div>

<div id="context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#" class="modify_count" data-skip-pjax="true">调整数量</a></li>
  </ul>
</div>

<% content_for :js do %>
<% javascript_include_tag "spot_plan" %>
<% end %>
