
<%= simple_form_for(@spot , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
            
    <%= f.input :website_id %>
          
    <%= f.input :channel_id %>
          
    <%= f.input :name %>
          
    <%= f.input :price %>
          
    <%= f.input :spec %>
                    </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'button button-primary' %>
  </div>
<% end %>
