
<%= simple_form_for(@spot , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :medium_id, as: :hidden %>
    <%= f.input :spot_category_id, collection: SpotCategory.where(medium_id: @spot.medium_id) %>
    <%= f.input :channel_id, collection: Channel.where(medium_id: @spot.medium_id) %>
    <%= f.input :name %>
    <%= f.input :type, collection: [['一般点位', 'Spot'], ['净价点位', 'NetCostSpot']], as: :radio %>
    <%= f.input :price %>
    <%= f.input :unit %>
    <%= f.input :spec %>
    <%= f.input :remark %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
