<table class='shopping-selector'>
  <% if @spot_filter.selected_website || @spot_filter.selected_unit_type %>
  <tr class="shopping-filter-row">
    <td class="title">您已选择</td>
    <td>
      <ul class="shopping-query-items">
        <% if @spot_filter.selected_website %>
        <li>
          <%= render_filter_item(:website_id, @spot_filter.selected_website.name, {spot_category_id: @spot_filter.selected_spot_category.nil? ? nil : @spot_filter.selected_spot_category.id, channel_id: @spot_filter.selected_channel.nil? ? nil : @spot_filter.selected_channel.id, unit_type: @spot_filter.selected_unit_type.nil? ? nil : @spot_filter.selected_unit_type}) %>
        </li>
        <% end %>
        <% if @spot_filter.selected_channel %>
        <li>
          <%= render_filter_item(:channel_id, @spot_filter.selected_channel.name, {spot_category_id: @spot_filter.selected_spot_category.nil? ? nil : @spot_filter.selected_spot_category.id, website_id: @spot_filter.selected_website.nil? ? nil : @spot_filter.selected_website.id, unit_type: @spot_filter.selected_unit_type.nil? ? nil : @spot_filter.selected_unit_type}) %>
        </li>
        <% end %>
        <% if @spot_filter.selected_spot_category %>
        <li>
          <%= render_filter_item(:spot_category_id, @spot_filter.selected_spot_category.name, {website_id: @spot_filter.selected_website.nil? ? nil : @spot_filter.selected_website.id, channel_id: @spot_filter.selected_channel.nil? ? nil : @spot_filter.selected_channel.id, unit_type: @spot_filter.selected_unit_type.nil? ? nil : @spot_filter.selected_unit_type}) %>
        </li>
        <% end %>
        <% if @spot_filter.selected_unit_type %>
        <li>
          <%= render_filter_item(:unit_type, t("activerecord.attributes.spot.unit_type.#{@spot_filter.selected_unit_type}"), {website_id: @spot_filter.selected_website.nil? ? nil : @spot_filter.selected_website.id, channel_id: @spot_filter.selected_channel.nil? ? nil : @spot_filter.selected_channel.id, spot_category_id: @spot_filter.selected_spot_category.nil? ? nil : @spot_filter.selected_spot_category}) %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <tr class="shopping-query-row">
    <td class="title">所属网站</td>
    <td>
      <ul class="shopping-query-items">
        <% @spot_filter.websites.each do |website| %>
        <li>
          <%= render_query_item(:website_id, website.id, website.name, {website_id: @spot_filter.selected_website.nil? ? nil : @spot_filter.selected_website.id, spot_category_id: @spot_filter.selected_spot_category.nil? ? nil : @spot_filter.selected_spot_category.id, channel_id: @spot_filter.selected_channel.nil? ? nil : @spot_filter.selected_channel.id, unit_type: @spot_filter.selected_unit_type.nil? ? nil : @spot_filter.selected_unit_type}) %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% if @spot_filter.selected_website %>
  <tr class="shopping-query-row">
    <td class="title">所属频道</td>
    <td>
      <ul class="shopping-query-items">
        <% @spot_filter.channels.each do |channel| %>
        <li>
          <%= render_query_item(:channel_id, channel.id, channel.name, {website_id: @spot_filter.selected_website.id, spot_category_id: @spot_filter.selected_spot_category.nil? ? nil : @spot_filter.selected_spot_category.id, channel_id: @spot_filter.selected_channel.nil? ? nil : @spot_filter.selected_channel.id, unit_type: @spot_filter.selected_unit_type.nil? ? nil : @spot_filter.selected_unit_type}) %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <% if @spot_filter.selected_website %>
  <tr class="shopping-query-row">
    <td class="title">刊例类型</td>
    <td>
      <ul class="shopping-query-items">
        <% @spot_filter.spot_categories.each do |spot_category| %>
        <li>
          <%= render_query_item(:spot_category_id, spot_category.id, spot_category.name, {website_id: @spot_filter.selected_website.id, spot_category_id: @spot_filter.selected_spot_category.nil? ? nil : @spot_filter.selected_spot_category.id, channel_id: @spot_filter.selected_channel.nil? ? nil : @spot_filter.selected_channel.id, unit_type: @spot_filter.selected_unit_type.nil? ? nil : @spot_filter.selected_unit_type}) %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <tr class="shopping-query-row">
    <td class="title">售卖方式</td>
    <td>
      <ul class="shopping-query-items">
        <% @spot_filter.unit_types.each do |unit_type| %>
        <li>
          <%= render_query_item(:unit_type, unit_type, t("activerecord.attributes.spot.unit_type.#{unit_type}"), {website_id: @spot_filter.selected_website.nil? ? nil : @spot_filter.selected_website.id, spot_category_id: @spot_filter.selected_spot_category.nil? ? nil : @spot_filter.selected_spot_category.id, channel_id: @spot_filter.selected_channel.nil? ? nil : @spot_filter.selected_channel.id, unit_type: @spot_filter.selected_unit_type.nil? ? nil : @spot_filter.selected_unit_type}) %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
