<%= render_cell(
  :page_title,
  :show,
  data: {
    name: "查询项目",
    toolbar: {

    }
  }
)
%>

<%= simple_form_for(@project_search, url: do_query_projects_path, html: {class: 'form-horizontal single-line', id:'project-search-form'}, method: :post, remote: true) do |f| %>
<table style="width:100%;">
  <tr>
    <td>
      <%= f.input(
        :client_id,
        collection: current_space.clients.map {|v| [v.name, v.id]},
        label: '客户列表',
        wrapper: false
      )
      %>
    </td>
    <td>
      <%= f.input(
        :started_at,
        as: :date_picker,
        label: '项目开始时间',
        wrapper: false
      )
      %>
    </td>
    <td>
      <%= f.input(
        :ended_at,
        as: :date_picker,
        label: '项目结束时间',
        wrapper: false
      )
      %>
    </td>
    <td>
      <%= f.submit '搜索', class: 'btn btn-primary' %>
    </td>
  </tr>
</table>

<% end %>

<div class="search_result">

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#project-search-form').on('ajax:beforeSend', function() {
      block_overlay($(this));
    }).on('ajax:complete', function() {
      unblock_overlay($(this));
    });
  });
</script>
