<div class="narrow-center-page">

<%= render_cell(
  :page_title,
  :show,
  data:
  {
    name: "<strong>#{@space.name}</strong> #{t('model.manager', model: SpaceUser.model_name.human)}",
    toolbar:
    {
      left:
      [
        render_cell(
          :button,
          :show,
          data:
          {
            name: fa_icon('level-up rotate-270'),
            url: spaces_path,
            options:
            {
              class: 'btn',
              rel: 'tooltip',
              title: "#{t('labels.back_to')}#{t('model.list', :model => Space.model_name.human)}",
            }
          }
        )
      ]
    }
  }
) %>

<%= simple_form_for(@space, url: save_space_client_assignments_path(@space), method: :post, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association(
      :clients,
      :collection => Client.alone.collect{|c| ["#{c.name}", c.id] },
      :as => :check_boxes
    )
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "保存#{SpaceUser.model_name.human}", class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
