
<%= simple_form_for(@client , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :logo, as: :file %>
    <%= f.input :space_id, collection: Space.all.collect{|space| [space.name, space.id]} if current_user.is_sys_admin? %>
    <%= f.input :space_id, as: :hidden, input_html: {value: current_space.id} unless current_user.is_sys_admin? %>
    <%= f.input :created_by_id, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
