<%= render_page_title "<strong>#{@client.name}</strong> 客户媒体政策管理" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')} #{@client.name}",
    url: client_path(@client),
    options: {class: 'button'}
  }
end %>

<%= simple_form_for(:client_discounts, url: manage_client_discounts_path(@client), :html => {:class => 'form-horizontal no-border' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <table class="table-striped table-bordered table">
      <tr>
        <th style="width:auto;">网站名称</th>
        <th></th>
        <th>媒体政策(如：0.6)</th>
        <th>媒体配送比例(如: 2.0)</th>
        <th>客户政策(如：0.7)</th>
        <th>客户配送比例(如: 1.5)</th>
      </tr>
      <% Medium.all.each do |medium| %>
      <tr>
        <td><%= medium.name %></td>
        <td><%= hidden_field_tag 'medium_ids[]', medium.id %></td>
        <td style="align: center;"><%= text_field_tag 'medium_discounts[]', @client.medium_discount(medium.id), style: "width: 2em;" %></td>
        <td style="align: center;"><%= text_field_tag 'medium_bonus_ratios[]', @client.medium_bonus_ratio(medium.id), style: "width: 2em; " %></td>
        <td style="align: center;"><%= text_field_tag 'company_discounts[]', @client.company_discount(medium.id), style: "width: 2em;" %></td>
        <td style="align: center;"><%= text_field_tag 'company_bonus_ratios[]', @client.company_bonus_ratio(medium.id), style: "width: 2em; " %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'button button-primary' %>
  </div>
<% end %>
