<div class="narrow-center-page">

<%= render_cell(
  :page_title,
  :show,
  data:
  {
    name: "<strong>#{@client.name}</strong> #{t('model.manager', model: MediumPolicy.model_name.human)}",
    toolbar:
    {
      left:
      [
        render_cell(
          :button,
          :show,
          data:
          {
            name: fa_icon('level-up rotate-270'),
            url: client_projects_path(@client.id),
            options:
            {
              class: 'btn',
              rel: 'tooltip',
              title: "#{t('labels.back_to')} #{@client.name} #{t('model.list', :model => Project.model_name.human)}",
            }
          }
        )
      ]
    }
  }
) %>

<% if can? :manage, MediumPolicy %>

<%= simple_form_for(:medium_policies, url: save_client_medium_policies_path(@client), method: :post, html: {class: 'form-horizontal no-border' }) do |f| %>
<%= f.error_notification %>

  <table id="medium-policies-table" class="table table-bordered table-striped">
    <tr>
      <th><strong>媒体</strong></th>
      <th><strong><%= t('activerecord.attributes.medium_policy.medium_discount') %></strong>（0~10）折</th>
      <th><strong><%= t('activerecord.attributes.medium_policy.company_discount') %></strong>（0~10）折</th>
      <th><strong><%= t('activerecord.attributes.medium_policy.medium_bonus_ratio') %></strong></th>
      <th><strong><%= t('activerecord.attributes.medium_policy.company_bonus_ratio') %></strong></th>
    </tr>
    <% Medium.all.each do |medium| %>
    <tr>
      <td><%= medium.name %><%= hidden_field_tag 'medium_ids[]', medium.id %></td>
      <td><%= text_field_tag 'medium_discounts[]', MediumPolicy.medium_discount(medium.id, @client.id) * 10, style: "width: 3em;", type: 'number', step: '0.1', min: '0', max: '10' %></td>
      <td><%= text_field_tag 'company_discounts[]', MediumPolicy.company_discount(medium.id, @client.id) * 10, style: "width: 3em;", type: 'number', step: '0.1', min: '0', max: '10' %></td>
      <td><%= text_field_tag 'medium_bonus_ratios[]', MediumPolicy.medium_bonus_ratio(medium.id, @client.id), style: "width: 3em;", type: 'number', step: '0.1', min: '0' %></td>
      <td><%= text_field_tag 'company_bonus_ratios[]', MediumPolicy.company_bonus_ratio(medium.id, @client.id), style: "width: 3em;", type: 'number', step: '0.1', min: '0' %></td>
    </tr>
    <% end %>
  </table>
  <div class="form-actions">
<%= f.button :submit, "保存#{MediumPolicy.model_name.human}", class: 'btn btn-primary pull-right' %>
</div>
<% end %>

<% else %>

<table id="medium-policies-table" class="table-striped table-bordered table">
  <tr>
    <th><strong>媒体</strong></th>
    <th><strong><%= t('activerecord.attributes.medium_policy.medium_discount') %></strong></th>
    <th><strong><%= t('activerecord.attributes.medium_policy.company_discount') %></strong></th>
    <th><strong><%= t('activerecord.attributes.medium_policy.medium_bonus_ratio') %></strong></th>
    <th><strong><%= t('activerecord.attributes.medium_policy.company_bonus_ratio') %></strong></th>
  </tr>
  <% Medium.all.each do |medium| %>
  <tr>
    <td><%= medium.name %><%= hidden_field_tag 'medium_ids[]', medium.id %></td>
    <td><%= MediumPolicy.medium_discount(medium.id, @client.id) %></td>
    <td><%= MediumPolicy.company_discount(medium.id, @client.id) %></td>
    <td><%= MediumPolicy.medium_bonus_ratio(medium.id, @client.id) %></td>
    <td><%= MediumPolicy.company_bonus_ratio(medium.id, @client.id) %></td>
  </tr>
  <% end %>
</table>

<% end %>

</div>
