<%= render_page_title "<strong>#{@client.name}</strong> 媒体政策" do |toolbar|

end %>

<article>
  <div class="padding">
    <table id="medium-policies-table" class="table table-ordered table-striped">
      <tr>
        <th><strong>媒体</strong></th>
        <th><strong><%= t('activerecord.attributes.medium_policy.medium_discount') %></strong></th>
        <th><strong><%= t('activerecord.attributes.medium_policy.company_discount') %></strong></th>
        <th><strong><%= t('activerecord.attributes.medium_policy.medium_bonus_ratio') %></strong></th>
        <th><strong><%= t('activerecord.attributes.medium_policy.company_bonus_ratio') %></strong></th>
        <th><strong><%= t('activerecord.attributes.medium_policy.medium_cpm_discount') %></strong></th>
        <th><strong><%= t('activerecord.attributes.medium_policy.company_cpm_discount') %></strong></th>
      </tr>
      <% Medium.all.each do |medium| %>
      <tr>
        <td><%= medium.name %><%= hidden_field_tag 'medium_ids[]', medium.id %></td>
        <td><%= MediumPolicy.medium_discount(medium.id, @client.id) %></td>
        <td><%= MediumPolicy.company_discount(medium.id, @client.id) %></td>
        <td><%= MediumPolicy.medium_bonus_ratio(medium.id, @client.id) %></td>
        <td><%= MediumPolicy.company_bonus_ratio(medium.id, @client.id) %></td>
        <td></td>
        <td></td>
      </tr>
      <% if medium.is_a?(VideoMedium) %>
      <tr>
        <td><i class="icon-angle-right"></i></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= MediumPolicy.medium_cpm_discount(medium.id, @client.id) %></td>
        <td><%= MediumPolicy.company_cpm_discount(medium.id, @client.id) %></td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</article>

