<%= render_cell(
  :page_title,
  :show,
  data:
  {
    name: "<strong>#{@medium.name}</strong> #{t('model.list', model: SpotCategory.model_name.human)}",
    toolbar:
    {
      right:
      [
        (render_cell(
          :button,
          :show,
          data:
          {
            name: fa_icon('plus-sign', text: t('model.create', :model => SpotCategory.model_name.human)),
            url: new_medium_spot_category_path(@medium),
            options:
            {
              class: 'btn btn-primary'
            }
          }
        ) if can? :manage, SpotCategory)
      ]
    }
  }
) %>

<ul class="nav nav-tabs">
  <li><%= link_to icon_text('icon-trello', ChannelGroup.model_name.human), medium_channel_groups_path(@medium) %></li>
  <li><%= link_to icon_text('icon-sitemap', Channel.model_name.human), medium_channels_path(@medium) %></li>
  <li class="active"><%= link_to icon_text('icon-folder-close', SpotCategory.model_name.human), medium_spot_categories_path(@medium) %></li>
  <li><%= link_to icon_text('icon-asterisk', Spot.model_name.human), medium_spots_path(@medium) %></li>
</ul>

<%= render partial: 'spot_categories_grid' %>
