<%= render_page_title "分配 <strong>#{@project.client.name}</strong> #{@project.name} 项目执行人" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')} #{@project.client.name}",
    url: url_for(:back),
    options: {class: 'button'}
  }
end %>

<%= simple_form_for(@project , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :assigned_users,
    :collection => User.all.collect{ |r| [r.email, r.id] },
    :as => :radio_buttons %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'button button-primary' %>
  </div>
<% end %>
