<%= render_page_title "<strong>#{@project.client.name}</strong> #{@project.name}" do |toolbar|
  toolbar << {
    name: icon_text('icon-plus', t('model.create', model: MasterPlan.model_name.human)),
    url: new_project_master_plan_path(@project),
    options: {
      class: 'btn btn-success'
    }
  }
  toolbar << {
    name: "#{t('labels.back_to')}#{t('model.list', :model => Project.model_name.human)}",
    url: url_for(:back),
    options: {class: 'btn'}
  }
end %>

<article>
  <div class="padding">
    <div class="well">
      <div class="grid">
        <div class="grid-row">
          <div class="cell3">预算： <span class="currency"><%= number_to_currency(@project.budget, :precision => 0, :unit => '') %></span> <%= @project.budget_unit %></div>
          <div class="cell3"></div>
          <div class="cell3"></div>
          <div class="cell3">开始日期：<strong><%= @project.started_at.strftime('%Y-%m-%d') if @project.started_at %></strong> 结束日期：<strong><%= @project.ended_at.strftime('%Y-%m-%d') if @project.ended_at %></strong></div>
        </div>
      </div>
    </div>
  </div>
</article>

<%= render partial: 'master_plans/master_plans_grid' %>
