<table class='filter'>
  <tr class="selected">
    <td class="title">您已选择</td>
    <td>
      <ul>
        <%= render_selected_item(
              :website_id,
              spots_filter.selected_website.name,
              {
                spot_category_id: spots_filter.selected_spot_category.nil? ? nil : spots_filter.selected_spot_category.id,
                channel_id: spots_filter.selected_channel.nil? ? nil : spots_filter.selected_channel.id,
                unit_type: spots_filter.selected_unit_type.nil? ? nil : spots_filter.selected_unit_type
              }
            ) if spots_filter.selected_website %>

        <%= render_selected_item(
              :channel_id,
              spots_filter.selected_channel.name,
              {
                website_id: spots_filter.selected_website.nil? ? nil : spots_filter.selected_website.id,
                spot_category_id: spots_filter.selected_spot_category.nil? ? nil : spots_filter.selected_spot_category.id,
                unit_type: spots_filter.selected_unit_type.nil? ? nil : spots_filter.selected_unit_type
              }
            ) if spots_filter.selected_channel %>

        <%= render_selected_item(
              :spot_category_id,
              spots_filter.selected_spot_category.name,
              {
                website_id: spots_filter.selected_website.nil? ? nil : spots_filter.selected_website.id,
                channel_id: spots_filter.selected_channel.nil? ? nil : spots_filter.selected_channel.id,
                unit_type: spots_filter.selected_unit_type.nil? ? nil : spots_filter.selected_unit_type
              }
            ) if spots_filter.selected_spot_category %>

        <%= render_selected_item(
              :unit_type,
              spots_filter.selected_unit_type_name,
              {
                website_id: spots_filter.selected_website.nil? ? nil : spots_filter.selected_website.id,
                channel_id: spots_filter.selected_channel.nil? ? nil : spots_filter.selected_channel.id,
                spot_category_id: spots_filter.selected_spot_category.nil? ? nil : spots_filter.selected_spot_category.id
              }
            ) if spots_filter.selected_unit_type %>
      </ul>
    </td>
  </tr>
  <tr class="selectors">
    <td class="title">所属网站</td>
    <td>
      <ul class="nav nav-pills">
        <% websites.each do |website| %>
        <%= render_selector_item(
            :website_id,
            website.id,
            website.name,
            {
              website_id: spots_filter.selected_website.nil? ? nil : spots_filter.selected_website.id,
              spot_category_id: spots_filter.selected_spot_category.nil? ? nil : spots_filter.selected_spot_category.id,
              channel_id: spots_filter.selected_channel.nil? ? nil : spots_filter.selected_channel.id,
              unit_type: spots_filter.selected_unit_type.nil? ? nil : spots_filter.selected_unit_type
            }) %>
        <% end %>
      </ul>
    </td>
  </tr>
  <%= render({
        partial: 'spots/filter/spots_channel_selectors',
        locals: {spots_filter: spots_filter}
      }) if spots_filter.selected_website %>
  <%= render({
        partial: 'spots/filter/spots_category_selectors',
        locals: {spots_filter: spots_filter}
      }) if spots_filter.selected_website %>
  <%= render({
        partial: 'spots/filter/spots_unit_type_selectors',
        locals: {spots_filter: spots_filter}
      }) if spots_filter.selected_website %>
</table>
