
<%= simple_form_for(@payment , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :space_id, as: :hidden %>
    <%= f.input :project_id, as: :hidden %>
    <%= f.input :client_id, as: :hidden %>
    <%= f.input :medium_id, collection: @payment.project.current_master_plan.medium_master_plans.map{|v| [v.medium.name, v.medium.id]}, required: true %>
    <%= f.input :vendor_id, collection: current_space.vendors.map { |v| [v.name, v.id]} %>
    <%= f.input :amount, required: true %>
    <%= f.input :paid_at, as: :date_time_picker, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
