
<%= simple_form_for(@medium , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :type, collection: [['一般网站媒体', 'Medium'], ['视频网站媒体', 'VideoMedium']], as: :radio %>
    <%= f.input :url %>
    <%= f.input :logo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
