
<%= simple_form_for(@payment_invoice , :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number, required: true %>
    <%= f.input :amount, required: true %>
    <%= f.input :invoice_type_id, collection: InvoiceType.invoice_types, as: :radio, required: true %>
    <%= f.input :medium_id, collection: Medium.all.map{|v| [v.name, v.id]}, required: true %>
    <%= f.input :vendor_id, collection: current_space.vendors.map{|v| [v.name, v.id]}, required: true %>
    <%= f.input :space_id, as: :hidden %>
    <%= f.input :received_at, as: :date_time_picker, required: true %>
    <%= f.input :credit_on, as: :date_time_picker, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
