<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.app.name %></title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container">
    <header>
      <div id="logo" class="pull-left"></div>
      <ul id="user-menu-panel" class="pull-right clearfix">
        <%- if user_signed_in? %>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle"><%= t("labels.welcome")%>, <strong><%= current_user.email %></strong> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :manage, :user %>
            <li>
              <%= link_to(render_icon_and_text_content('icon-group', t("model.list", model: User.model_name.human)), users_path) %>
            </li>
            <% end %>
            <li>
              <%= link_to(t("buttons.sign_out"), destroy_user_session_path, :method=>'delete') %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to t("buttons.sign_in"), :user_session %></li>
        <% end -%>
      </ul>
    </header>
    <div id="main-content">
      <div id="top-navigation-bar">
        <ul>
          <li>
            <a href="#">美丽</a>
          </li>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <i class="icon-dashboard"></i> 控制台 <i class="icon-angle-left arrow"></i>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                  <li><a href="#"><i class="icon-angle-right"></i> asdf;</a></li>
                  <li><a href="#"><i class="icon-angle-right"></i> asdf;</a></li>
                  <li><a href="#"><i class="icon-angle-right"></i> asdf;</a></li>
                  <li><a href="#" class="active"><i class="icon-angle-right"></i> asdf;</a></li>
                </ul>
                <div class="accordion" id="accordion22">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion22" href="#collapseOne2">
                        第二层 <i class="icon-angle-left arrow"></i>
                      </a>
                    </div>
                    <div id="collapseOne2" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#"><i class="icon-angle-right"></i> asdf;</a></li>
                          <li><a href="#"><i class="icon-angle-right"></i> asdf;</a></li>
                          <li><a href="#"><i class="icon-angle-right"></i> asdf;</a></li>
                          <li><a href="#" class="active"><i class="icon-angle-right"></i> asdf;</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion22" href="#collapseTwo2">
                        Collapsible Group Item #2
                      </a>
                    </div>
                    <div id="collapseTwo2" class="accordion-body collapse">
                      <div class="accordion-inner">
                        Anim pariatur cliche...
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Collapsible Group Item #2
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                Anim pariatur cliche...
              </div>
            </div>
          </div>
        </div>
          <li>
            <a href="/"><i class="icon-dashboard icon-2x"></i><br><span>控制台</span></a>
          </li>
          <li>
            <a href="/clients"><i class="icon-user icon-2x"></i><br><span>客户</span></a>
          </li>
          <li>
            <a href="/media"><i class="icon-globe icon-2x"></i><br><span>网站管理</span></a>
          </li>
          <li>
            <a href="/spots?medium_id=1"><i class="icon-book icon-2x"></i><br><span>媒介点位</span></a>
          </li>
        </ul>
      </div>
      <%= render_navigation renderer: :top_navigation_bar, expand_all: true %>
      <div id="main" class="clearfix">
        <%= render_navigation renderer: :sub_navigation_bar, expand_all: true %>
        <div class="content">
          <%= render partial: 'shared/components/notification' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <span class="copyright">tida &copy; 2013 All Rights Reserved.</span>
    </footer>
  </div>

  <div id="pjax-loading-dialog" class="modal hide fade in pjax-loading-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
      <%= image_tag 'ajax-loader.gif' %> <p>正在载入，请稍等...</p>
    </div>
  </div>
  <%= yield :anything_else %>
  <%= stylesheet_link_tag "retina", :media => "all" %>
</body>
</html>
