<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.app.name %></title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'shared/scaffold/header' %>

  <div id="main">
    <ul class="breadcrumb">
      <li><a href="#">Home</a> <i class="icon-angle-right divider"></i></li>
      <li><a href="#">Library</a> <i class="icon-angle-right divider"></i></li>
      <li class="active">Data</li>
    </ul>
    <%= render partial: 'shared/components/notification' %>
    <%= yield %>
  </div>

  <%= render partial: 'shared/scaffold/footer' %>

</body>
</html>
