<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.app.name %></title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <nav class="navbar navbar-fixed-top" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span><%= Settings.app.name %></span></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <%= render_navigation renderer: :global_menu, expand_all: true %>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎，乔文婷 <%= fa_icon 'caret-down' %></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li role="presentation" class="divider"></li>
                <li class="dropdown">
                  <a href="#">More Actions <%= fa_icon 'angle-right caret' %></a>
                  <ul class="dropdown-menu right">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div id="logo" class="pull-left"></div>
      <ul id="user-menu-panel" class="pull-right clearfix">
        <%- if user_signed_in? %>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle"><%= t("labels.welcome")%>, <strong><%= current_user.email %></strong> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :manage, :user %>
            <li>
              <%= link_to(icon_text('icon-group', t("model.list", model: User.model_name.human)), users_path) %>
            </li>
            <% end %>
            <li>
              <%= link_to(t("buttons.sign_out"), destroy_user_session_path, :method=>'delete') %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to t("buttons.sign_in"), :user_session %></li>
        <% end -%>
      </ul>
    </header>

      <div id="main">
        <%= render partial: 'shared/components/notification' %>
        <%= yield %>
      </div>

    <footer>
      <span class="copyright">tida &copy; 2013 All Rights Reserved.</span>
    </footer>

  <%= stylesheet_link_tag "retina", :media => "all" %>
</body>
</html>
